.InstructionPanel {
	Size: 30% 100%;
	z-index: 20;
	display: flex;
	flex-direction: column;
}

.dark {
	/* background: #1d1f31; */
	background: #202231;
	color: white;
}

.light {
	background: white;
	color: #1d1f31;
}

.top {
	padding: 24px;
	/* background: linear-gradient(167deg, #c485ff, #b173eb); */
	/* background: linear-gradient(167deg,  #50dcd3, #5c5cb6); */
	/* linear-gradient(167deg, #50dcd3, #7f89d0) */
	/* background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%); */
	/* background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%); */
	/* box-shadow: 0px 0px 16px 0px rgba(24, 27, 43, 0.25); */
	/* color: white; */
}

.top h1 {
	text-shadow: 0px 3px 16px rgba(0, 0, 0, 0.25);
}

.body {
	padding: 16px 0;
	overflow-y: scroll;
	width: 100%;
}

/* TODO: Make specific to terminal */
.dark .body::-webkit-scrollbar {
	background-color: #1d1f31;
}

.light .body::-webkit-scrollbar {
	background-color: white;
}

.dark .body::-webkit-scrollbar-thumb {
	background-color: #2b2b4c;
	position: absolute;
	right: 5px;
	margin-right: 2px;
	border-right: 7px solid #1d1f31;
}

.light .body::-webkit-scrollbar-thumb {
	background-color: #ebeff3;
	position: absolute;
	right: 5px;
	margin-right: 2px;
	border-right: 7px solid #ffffff;
}

.dark .markdown {
	color: white;
}

.light .markdown {
	color: #1d1f31;
}

/* .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
	color: white;
} */

.dark .markdown hr {
	height: 6px;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.light .markdown hr {
	height: 6px;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.dark .markdown h2 {
	padding-bottom: 7px;
	margin: 24px 0 16px;
	border-bottom: 1px solid #eaecef;
}

.dark .markdown blockquote {
	margin: 16px 0;
	padding: 0 7px;
	color: #6a737d;
	border-left: 6px solid #dfe2e5;
}

.dark .markdown blockquote p {
	margin-left: 8px;
}

.dark .markdown h3 {
	margin: 16px 0 24px;
}

.dark .markdown p {
	line-height: 1.4;
	margin-bottom: 24px;
}

.dark .markdown ul {
	margin: 16px 0 24px;
}

.dark .markdown ul li {
	margin-bottom: 8px;
}

/* .dark .markdown code,
.dark .markdown pre {
	font-family: 'Fira Mono', monospace !important;
	line-height: 1.7;
	background: #2b2b4c;
	padding: 2px 8px;
	color: white;
} */

/* .dark .markdown pre {
	padding: 8px;
	margin: 16px 0 24px;
} */

/* light */

.light .markdown h2 {
	padding-bottom: 7px;
	margin: 24px 0 16px;
	border-bottom: 1px solid #eaecef;
}

.light .markdown blockquote {
	margin: 16px 0;
	padding: 0 7px;
	color: #6a737d;
	border-left: 6px solid #dfe2e5;
}

.light .markdown blockquote p {
	margin-left: 8px;
}

.light .markdown h3 {
	margin: 16px 0 24px;
}

.light .markdown p {
	line-height: 1.4;
	margin-bottom: 24px;
}

.light .markdown ul {
	margin: 16px 0 24px;
}

.light .markdown ul li {
	margin-bottom: 8px;
}

.markdown code,
.markdown pre {
	overflow: hidden;
	/* background: #ebeff3; */
	/* padding: 2px 8px; */
	/* color: black; */
}

.light .markdown code {
	font-family: 'Fira Mono', monospace !important;
	line-height: 1.7;
	/* background: #2b2b4c; */
	background: #dedede;
	padding: 2px 8px;
	color: #2b2b4c;
}

.markdown :global .bytesize-CodeMirror {
	margin-bottom: 24px;
}

.markdown :global .CodeMirror-scroll {
	overflow: hidden;
}
.dark .markdown code {
	font-family: 'Fira Mono', monospace !important;
	line-height: 1.6;
	font-size: 12px;
	/* background: #2b2b4c; */
	background: #3a3b68;
	padding: 2px 8px;
	color: white;
}

.light .markdown pre {
	/* padding: 8px; */
	/* margin: 16px 0 24px; */
}


.lessonEditorControls {
	padding: 0 12px;
	Size: 100% 80px;
	/* background: #181A25; */
	Flex: row space-around center;
}

.topActions {
	Size: 100% 50%;
	background: #F1F1F1;
	color: #181A25;
	Flex: row center center;
}

.action {
	width: 100%;	
	Flex: row center center;
	Font: button;	
}

.bottomActions {
	Size: 100% 50%;
	background: tomato;
	Flex: row center center;
}

.saveAction {
	color: white;
	background: tomato;
	Font: button;	
}