.TopBar {
	width: 100vw;
	height: 48px;
	color: #fff;
	z-index: 11;
	/* background: linear-gradient(-45deg, #313358, #1D1F31); */
	/* background: #1d1f31; */
	/* background: #202231; */
	/* border-bottom: 1px solid #32335a; */
}

Size(width, height) {
	width: width;
	height: height;
}

Flex(dir, justify, align) {
	display: flex;
	flex-direction: dir;
	justify-content: justify;
	align-items: align;
}

.left {
	flex: row flex-start center;
	size: 30% 100%;
	padding: 0 24px;
}

.right {
	flex: row flex-end center;
	size: 70% 100%;
	padding: 0 24px;
}

.editorTopBar {
	size: 100% 32px;
	background: var(--darkBlue1);
	box-shadow: var(--shadow0);
	z-index: 4;
	position: relative;
}

.inner {
	height: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 4;
	position: relative;
}
