.TopBar {
	width: 100vw;
	height: 48px;
	color: #fff;
	z-index: 11;
	background: var(--black);
	box-shadow: var(--shadow0);
}

.left {
	width: 200px;
	display: flex;
	justify-content: flex-start;
}

.right {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

.editorTopBar {
	height: 32px;
	background: var(--darkBlue1);
	width: 100%;
	box-shadow: var(--shadow0);
	z-index: 4;
	position: relative;
}

.inner {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 24px;
	width: 100%;
	z-index: 4;
	position: relative;
}
