@import './variables.css';
@import './themes.css';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:global #mountPoint {
	background: #f2f2f2;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}