[data-dark-theme] {
	background: var(--darkPurple);
	color: var(--white);
}

[data-dark-theme] [data-input] {

}

[data-dark-theme] [data-input] [data-button] {
	background: var(--green);
	color: var(--white);
}



:global [data-light-theme] {
	background: var(--white);
	color: var(--darkText);
}
