:root {
	--black: #000000;
	--white: #ffffff;
	--darkPurple: #25285D;
	--purpleText: #8B64ED;
	--lightPurpleBg: #F1EBFC;
	--lightGreenBg: #D6F4E2;
	--whitePurple: #F0EBFD;
	--greenText: #67D493;
	--lightGrayText: #DDDDE0;
	--red: #FC6C52;
	--lightText: #A6A7B7;
	--darkText: #474977;
	--purple: #7549EA;
	--green: #37C670;
}
