.OutputPanel {
	width: 100%;
	padding: 24px;
	background: #131116;
	/* background: var(--black); */
	color: #fff;
	font-size: 16px;
	font-family: 'Operator Mono Book';
	overflow-y: scroll;
	z-index: 11;
	box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.OutputPanel > [role='treeitem'] {
	margin: 12px 0;
	padding: 4px 8px;
}

.pre-text {
	opacity: 0.5;
}

.builtIn-log {
	font-size: 13px;
	font-style: italic;
	color: #1ceca7;
}

.runButton {
	position: absolute;
	bottom: 16px;
	right: 24px;
	border: none;
	outline: none;
	background: #e6154b;
	color: #fff;
	padding: 8px 16px;
	cursor: pointer;
	font-family: 'Open Sans';
	font-style: italic;
	text-transform: uppercase;
	font-size: 14px;
}

:global .panelGroup > .panelWrapper:last-of-type {
	z-index: 9;
	/* box-shadow: 0px -2px 16px rgba(0,0,0,0.2); */
}
