Size(width, height) {
	width: width;
	height: height;
}

Flex(dir, justify, align) {
	display: flex;
	flex-direction: dir;
	justify-content: justify;
	align-items: align;
}

.LessonEditor {
	size: 100% 100%;
}
