.Selection {
	
}

.Item {
	width: 100%;
	height: 64px;
	margin-bottom: 16px;
	Flex: row flex-start flex-start;
	cursor: pointer;
}

.Thing {
	width: 64px;
	height: 64px;
	background: #f2f2f2;
	color: black;
	padding: 16px;
	margin-right: 16px;
}

.info {
	padding: 8px 0;
}

.info h3 {
	margin-bottom: 4px;
}

.info p {
	font-style: italic;
}