.OutputPanel {
	width: 100%;
	height: 100%;
	padding: 24px;
	background: #1d1f31;
	/* background: var(--black); */
	color: #fff;
	font-size: 16px;
	font-family: 'Operator Mono Book';
	overflow-y: scroll;
	z-index: 11;
	height: 100%;
	box-shadow: 0px -2px 24px -4px rgba(0, 0, 0, 0.1);
}

.OutputPanel::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0.15);
}

.OutputPanel::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.75);
}

.OutputPanel > [role='treeitem'] {
	margin: 12px 0;
	padding: 4px 8px;
}

.pre-text {
	opacity: 0.5;
}

.builtIn-log {
	font-size: 13px;
	font-style: italic;
	color: #1ceca7;
}

/* FIX: Button background bleed. */

.runButton {
	position: fixed;
	bottom: 16px;
	right: 32px;
	border: none;
	outline: none;
	background: #e6154b;
	color: #fff;
	padding: 8px 16px;
	cursor: pointer;
	font-family: 'Open Sans';
	font-style: italic;
	text-transform: uppercase;
	font-size: 14px;
}

:global .panelGroup > .panelWrapper:last-of-type {
	z-index: 9;
	/* box-shadow: 0px -2px 16px rgba(0,0,0,0.2); */
}

/* FIX: Button background bleed. */

.playButton {
	width: 48px;
	height: 48px;
	background: white;
	z-index: 101;
	border-radius: 50%;
	position: absolute;
	right: 32px;
	top: -60px;
	cursor: pointer;
	margin: 0 8px;
}

.optionsButton {
	width: 32px;
	height: 32px;
	background: white;
	z-index: 101;
	border-radius: 50%;
	position: absolute;
	right: 95px;
	top: -44px;
	/* cursor: pointer; */
	cursor: not-allowed;
	margin: 0 8px;
	opacity: 0.7;
}
