.OutputPanel {
	width: 100%;
	height: 100%;
	/* background: #1d1f31; */
	background: #202231;
	color: #fff;
	font-size: 14px;
	font-family: 'Fira Mono';
	overflow-y: hidden;
	z-index: 11;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* box-shadow: 0px -2px 24px -4px rgba(0, 0, 0, 0.1); */
}

.output::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0.15);
}

.output::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.75);
}

.output > [role='treeitem'] {
	margin: 12px 0;
	padding: 4px 8px;
}

.pre-text {
	opacity: 0.5;
}

:global .panelGroup > .panelWrapper:last-of-type {
	z-index: 9;
}

.output {
	overflow-y: scroll;
}