.ModuleScene {
	width: 100vw;
	height: 100%;
	/* background: #1d1b21; */
	background: #202231;
	display: flex;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	/* background: #1d1b21; */
	background: #202231;
}

:global .ModuleScene-rightPanelGroup {
	width: 100%;
	height: 100%;
}

:global
	.ModuleScene-rightPanelGroup
	> .panelGroup
	> .panelWrapper:last-of-type {
	overflow: visible !important;
}
