.ModuleView {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

:global .Resizer.vertical {
	width: 4px;
	height: 100%;
	background: #656a83;
	cursor: col-resize;
}

.padded {
	padding: 0 24px;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
}

:global [data-lesson-rendered-md-container] li {
	margin: 8px 24px;
}

:global [data-lesson-rendered-md-container] h1:first-of-type {
	margin: 16px 0;
	font-size: 28px;
	color: var(--darkestPurple);
}

:global [data-lesson-rendered-md-container] h1:nth-of-type(n+2) {
	margin: 16px 0;
	border-bottom: 1px solid transparent;
	font-size: 20px;
}

:global [data-lesson-rendered-md-container] p {
	margin: 16px 0;
}

:global [data-lesson-rendered-md-container] p+p {
	margin-top: 0px;
}

:global [data-lesson-rendered-md-container] ol, :global [data-lesson-rendered-md-container] ul {
	margin: 16px 0;
}

:global [data-lesson-rendered-md-container] pre {
	color: var(--purpleText);
	background: var(--lightPurpleBg);
	padding: 12px;
}

.left {
	/* width: 30%; */
	background: #f1f2f8;
	padding-top: 12px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.buttonBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -21px;
	bottom: 24px;
	z-index: 55;
}

.actionButton {
	color: var(--whitePurple);
	background: transparent;
}

.right {
	/* width: 70%; */
	height: 100%;
}

.actionIcon {
	box-shadow: 2px 1px 16px -1px rgba(0, 0, 0, 0.45);
	margin-top: 24px;
	border-radius: 50px;
	background: var(--purple);
	height: 40px;
	max-height: 40px;
	width: 40px;
	max-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1px;
	border-bottom: 1px solid #643bd3;
}