* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #root {}

#root {
	font-feature-settings: 'liga' 1;
}

/* .CodeMirror-vscrollbar::-webkit-scrollbar {
	background-color: rgba(0,0,0,0.15);
	width: 100%;
}

 */

.CodeMirror-vscrollbar::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0.1);
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
}

#cool-widget {
	background: #e1def1;
	position: absolute;
	width: 100%;
	color: var(--black);
	height: 24px;
	padding: 0 16px;
	font-family: 'Open Sans';
}

:global .CodeMirror.cm-s-white {
	/* background: radial-gradient(circle at 50% -70%, #57589e40, transparent 65%), */
	/* linear-gradient(200deg, #3b3c6b -10%, #292947); */
	/* background: linear-gradient(200deg, #3B3C6B -10%, #292947); */
	background-size: 100%;
	padding: 16px 0;
	/* background: #32335a; */
	background: #ffffff;
	/* font-family: 'Overpass Mono', monospace !important; */
	/* font-family: 'Inconsolata', monospace !important; */
	/* font-family: 'Source Code Pro', monospace !important; */
	/* font-family: 'Overpass Mono', monospace !important; */
	font-family: 'Fira Mono', monospace !important;
	/* font-family: 'Roboto Mono', monospace !important; */
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.75px;
	line-height: 1.7;
	height: 100% !important;
	/* text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25); */
}

.cm-s-white-code {
	/* padding: 8px 0 0 0; */
}

.cm-s-white-code div pre.cm-s-white-line {
	left: 2px;
	position: relative;
}

.cm-matchhighlight {
	background: #4f4c62;
}

.cm-s-white-gutters {
	background: var(--bgColor);
	border-right: none !important;
	/* padding-right: 2px; */
	padding: 4px;
	background: transparent;
}

.CodeMirror-code div pre.CodeMirror-line {
	padding: 0 0 0 8px;
}

.CodeMirror-cursors {
	color: #8e74ca;
}

.cm-s-white .CodeMirror-selected {
	background: #1d1f313b;
}

.cm-s-white .CodeMirror-activeline-gutter {
	background: #1d1f313b;
}

.CodeMirror-linenumbers {
	display: flex;
	justify-content: center;
	text-align: center;
	background: transparent;
}

.bytesize-CodeMirror {
	height: 100%;
	max-height: 100%;
	/* overflow-y: scroll; */
}

/* delimiter tokens */

.cm-s-white {
	color: var(--darkPurple);
	height: 100%;
	max-height: 100%;
}

/* let, const, if, else, this, new, function .. */

.cm-s-white .cm-keyword {
	color: var(--darkPurple);
	/* font-style: oblique; */
	/* color: #465d83; */
}

/* e.g. #id */

.cm-s-white .cm-atom {
	color: var(--darkPurple);
}

/* e.g. 20 */

.cm-s-white .cm-number {
	color: var(--darkPurple);
}

.cm-s-white .CodeMirror-cursor {
	/* border-color: #49499c; */
	color: var(--purpleText);
}

.cm-s-white .CodeMirror-activeline-background {
	/* background: linear-gradient(45deg, rgba(32, 34, 54, 0), rgba(32, 34, 54, 0.25)); */
	/* margin: -1px; */
	/* box-shadow: 0 0 8px rgba(0,0,0,0.025); */
	/* background: #1d1f313b; */
}

/* e.g. px, em */

.cm-s-white .cm-unit {
	color: var(--darkPurple);
}

.cm-s-white .cm-type {
	color: var(--darkPurple);
}

/* identifiers */

.cm-s-white .cm-def {
	color: #fff;
	font-weight: 500;
}

/* e.g. $, i */

.cm-s-white .cm-variable {
	color: var(--darkPurple);
}

/* e.g. for key in [this], Markdown li */

.cm-s-white .cm-variable-2 {
	color: var(--darkPurple);
}

/* e.g. getElementbyId, CSS properties */

.cm-s-white .cm-property {
	color: var(--darkPurple);
	/* color: #ff506d; */
}

/* e.g. CoffeeScript ->, CSS colons */

.cm-s-white .cm-operator {
	color: var(--darkPurple);
	font-weight: 700;
	/* text-shadow: 0px 1px 16px rgba(38, 247, 230, 0.25); */
}

.ofh .cm-s-white.CodeMirror {
	overflow: hidden;
	height: 100%;
}

/* e.g. // comments */

.cm-s-white .cm-comment {
	color: #5b4e8b;
}

/* "strings" and 'strings' */

.cm-s-white .cm-string {
	color: var(--darkPurple);
}

/* `template strings */

.cm-s-white .cm-string-2 {
	color: var(--darkPurple);
}

/* e.g. @font-face */

.cm-s-white .cm-meta {
	color: var(--darkPurple);
}

/*  */

.cm-s-white .cm-header {
	color: var(--darkPurple);
}

/* e.g. HTML elements */

.cm-s-white .cm-tag {
	color: var(--darkPurple);
}

/* e.g. class="" id="" */

.cm-s-white .cm-attribute {
	color: var(--darkPurple);
}

/* not sure if used */

.cm-s-white .cm-strong {
	color: #345038;
}

/* not sure if used */

.cm-s-white .cm-em {
	color: #2aee24;
}

/* e.g. .box */

.cm-s-white .cm-qualifier {
	color: #51e624;
}

/* not sure if used */

.cm-s-white .cm-builtin {
	color: #16f016;
}

.CodeMirror-linenumber {
	color: #5c5a96;
	opacity: 0.75;
}